<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
    <div class="col col-sm-2">
      <a class="beigeboard" href="/home">
        <h4 class="beigeboard">WhiteBoard</h4>
      </a>

    </div>
      <div class="col col-sm-2">
      <a href="/home" class="homeLink">Home</a>
      </div>
      <div class="col col-sm-5">
      </div>

      <div class="col col-sm-auto float-right">
       <button routerLink="/profile"
               class="btn btn-light profileBtn">Profile</button>
      <button (click)="logout()"
              class="btn btn-danger">Log Out</button>
  </div>
    </div>
  </nav>

  <a href="/login">Login</a> |
  <a href="/register">Register</a> |
  <a href="/profile">Profile</a>

  <br/>
  <br/>
  <router-outlet></router-outlet>
</div>
