.navbar {
  background-color: dodgerblue;
  nav-up: auto;
}
.beigeboard {
  color: white;
}

h5 {
  color: white;
  padding-top: 10px;
  margin-left:-5px;

}

.logout {
  color: white;
  padding-top: 10px;
}

.profileBtn {
  padding-top: -10px;
  padding-bottom: -10px;
  margin-right: 10px;
  height: 75%;
}
