<div>
<app-whiteboard-header></app-whiteboard-header>

<div class="container-fluid">
<h2>Login</h2>
  <input [(ngModel)]="username"
         placeholder="Username"
         class="form-control"><br/>
  <input [(ngModel)]="password"
         placeholder="Password"
         class="form-control"
         type="password"><br/>

  <button (click)="login(username, password)"
          class="btn btn-primary btn-block">
    Login
  </button>
  <a routerLink="/register">Not signed up? Register here!</a>
</div>
</div>
