<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col col-sm-2">
      <a class="beigeboard" href="/home">
        <h4 class="beigeboard">WhiteBoard</h4>
      </a>

    </div>
    <span>
    <span class="col col-sm-2">
      <a href="/home" class="homeLink">Home</a>
    </span>
    <span class="col col-sm-2">
      <a href="/quizzes" class="quizzesLink">Quizzes</a>
    </span>
      </span>

    <div class="col col-sm-2">
    </div>

    <div class="col col-sm-auto float-right btns">
      <button *ngIf='isLoggedIn'
              routerLink="/profile"
              class="btn btn-light profileBtn">My Profile</button>
      <button *ngIf='isAdminUser'
              routerLink="/admin/course"
              class="btn btn-light profileBtn">Admin</button>
      <button *ngIf="isLoggedIn"
              (click)="logout()"
              class="btn btn-danger">Log Out</button>
      <button *ngIf="!isLoggedIn"
              (click)="logout()"
              class="btn btn-success">Log In</button>
    </div>
  </div>
</nav>
<br/><br/>
