<div>
<app-whiteboard-header></app-whiteboard-header>
<div class="container-fluid">
  <h1>Profile</h1>

  Username
  <input [(ngModel)]="username"
         placeholder="Username"
         class="form-control"/><br/>
  First Name
  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/><br/>
  Last Name
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/><br/>
  Email
  <input [(ngModel)]="email"
         placeholder="Email"
         class="form-control"/><br/>
  Phone Number
  <input [(ngModel)]="phoneNum"
         placeholder="(888)-123-4567"
         class="form-control"/><br/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

</div>
</div>
